<div class="container">
  <div class="form-group row">
    <label for="searchText" class="col-md-4 col-xs-2">Search For An Item</label>
    <div class="col-xs-10">
      <input id="searchText" type="text" class"form-control" ng-model="searchText" placeholder="Item Name">
    </div>
  </div>


  <form class="form-horizontal" ng-submit="itemsIndexCtrl.createItem()">

    <legend class="text-xs-center">Add New Item</legend>

    <!-- Text input-->

    <div class="form-group">
      <label for="itemName" class="col-md-4 control-label">Item Name</label>
      <input id="itemName" ng-model="itemsIndexCtrl.newItem.itemName" type="text" class="form-control" placeholder="Enter Item Name" required="">
    </div>


    <!-- Text input-->
    <div class="form-group">
      <label for="itemPrice" class="col-md-4 control-label">Item Price</label>
      <input id="itemPrice" ng-model="itemsIndexCtrl.newItem.itemPrice" type="number" placeholder="Enter ItemPrice" class="form-control">
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label for="itemImage" class="col-md-4 control-label">Item Image (url)</label>
      <input id="itemImage" ng-model="itemsIndexCtrl.newItem.itemImage" type="text" placeholder="i.e. http://itemimageurl.com" class="form-control" required="">
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label for="itemDescription" class="col-md-4 control-label">Item Description</label>
      <textarea id="itemDescription" placeholder="Enter Item Description" class="form-control" ng-model="itemsIndexCtrl.newItem.itemDescription"></textarea>
    </div>

    <!-- Button -->
    <div class="form-group">
      <div class="col-md-4">
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>

  <div class="row">
    <div ng-repeat="item in itemsIndexCtrl.items | orderBy: 'name' | filter: searchText">
      <div class="col-md-3 col-xs-12 col-lg-3">
        <div class="card">
          <h3 class="card-header text-xs-center">Featured</h3>
          <img class="img-fluid" ng-src={{item.itemImage}} alt="item image" />
          <h4 class='card-title'>Item Name:</h4>
          <span ng-hide="editing">{{item.itemName}}</span>
          <input ng-show="editing" ng-model="item.itemName" type="text" class="form-control input-md">

            <h4 class="inline-header">Item Price:</h4>
            <span ng-hide="editing">{{item.itemPrice | currency}}</span>
            <input ng-show="editing" ng-model="item.itemPrice" type="number" class="form-control input-md">

            <h4 class='inline-header'>Item Description:</h4>
            <span ng-hide="editing">{{item.itemDescription}}</span>
            <input ng-show="editing" ng-model="item.itemDescription" type="text" class="form-control input-md">

        <div class='card-footer'>
          <button type="button" class="btn btn-success">Add To Order</button>
          <button class='btn btn-danger' ng-click="itemsIndexCtrl.deleteItem(item)">Delete</button>
          <button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit</button>
          <button class='btn btn-success' ng-show="editing" ng-click="itemsIndexCtrl.editItem(item); editing = false">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
